/* 62.5% technique to make easy use of 'em' and 'rem' units */
html {
    font-size: 62.5%;
}

h1, p {
    margin: 0;
}

/* Transform top and middle card paragraphs to uppercase */
.top-card p, .mid-card p {
    text-transform: uppercase;
}

body {
    box-sizing: border-box;
    background-color: #181818;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    min-width: 350px;
    max-width: 428px;
    height: 100vh;
    padding: 13.7em 4em;
}


/* Main content container properties */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.8em;
}

/* Top card properties */
.top-card {
    box-sizing: border-box;
    font-weight: bold;
    background-color: #7000FF;
    width: 100%;
    height: 18.9em;
    border-radius: 1em;
    padding: 3.3em 0 5em 4.7em;
}

.top-card h1 {
    font-size: 5.5rem;
}

.top-card p {
    font-size: 1.8rem;
}

.mid-card {
    box-sizing: border-box;
    width: 100%;
    border: solid #2E2E2E;
    border-radius: 1em;
    padding: 5.6em 0 5.7em 4.4em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.mid-card h1 {
    font-size: 3.2rem;
    font-weight: bold;

}

.mid-card p {
    font-size: 1.8rem;
    font-weight: lighter;
}

.mid-card .content1, .mid-card .content2 {
    display: flex;
    gap: 1.2em;
}

.cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2em;
}

.cta-button {
    background-color: #7000FF;
    font-weight: bold;
    border-radius: 1em;
    width: 100%;
    height: 5.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-button h1 {
    font-size: 2rem;
    text-align: center;
}

.bottom-note {
    width: 19em;
    font-size: 1.4rem;
    color: #878787;
    text-align: center;
}

.bottom-note span {
    font-weight: bold;
}

/* Tablet Size */
@media screen and (min-width: 800px) {
    body {
        min-width: 900px;
        max-width: 1024px;
    }

    main {
        height: 36.34em;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .top-card {
        flex: 1 1 25%;
    }

    .mid-card {
        flex: 1 1 60%;
        flex-direction: row;
    }
}

/* Desktop Size */
@media screen and (min-width: 1250px) {
    body {
        min-width: 1350px;
        max-width: 1440px;
        padding: 13.7em 12em;
    }
    
    main {
        height: 19.3em;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }

    .top-card {
        flex: 1 1 25%
    }

    .mid-card {
        flex: 1 1 60%;
        flex-direction: row;
    }

    .cta {
        height: 100%;
        flex: 1 1 25%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .bottom-note {
        text-align: left;
    }

   /* main {
    max-width: 1200px;
    max-height: 481px;
    padding: 13em 12.3em 15.5em 12em;
    flex-wrap: nowrap;
   }

   .top-card {
    width: 30%;
    padding-right: 5.3em;
   }

   .mid-card {
    flex-direction: row;
    width: 70%;
   }

   .cta {
    display: flex;
    flex-wrap: wrap;
    gap: 2.2em;
    align-items: flex-start;
    padding-bottom: 4.5em;
    width: 40%;
   }

   .bottom-note {
    width: 100%;
    text-align: left;
   } */
}